<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Tienda "José Luis"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- Ojo tecordar que en flask siempre se recomienda utilziar url_for con el nombre de metodo en lugar de colocar la ruta del template html -->
          <a class="nav-link" href="{{ url_for('index') }}">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
      <span class="navbar-text">
        <!-- current_user.usuario hace referencia al usuario actual desde flask-login -->
        
        <strong>{{ current_user.usuario }}</strong> ({{ current_user.tipousuario.nombre }})
      </span>
    </div>
  </nav>